/* .permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
} */

body {
  background-color: #003366;
}

.card {
  height: 750px;
  width: 500px;
  background-color: yellow;
  padding: 36px;
  border-radius: 12px;
}

.card > img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  margin-bottom: 12px;
}

h1 {
  font-family: "Permanent Marker", cursive;
  color: black;
  text-align: center;
}

p {
  text-align: center;
}

li {
  list-style-image: url(./assets/arrow_shape_up_stack_2_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg);
}

div {
  box-shadow: 15px 15px 15px rgba(175, 5, 11, 0.828);
}

a {
  border: 2px solid;
  border-radius: 8px;
  border-color: red;
  color: black;
  background-color: red;
}
